:host {
  display: block;
  //background-color: var(--surface-ground);
  //color: var(--text-color);
  font-family: 'Inter', sans-serif;
}

// Variables de colores personalizados
// $background-dark: var(--surface-section);
$background-card: var(--surface-card);
// $primary-text: var(--text-color);
$secondary-text: var(--text-color-secondary);
$border-radius: 12px;

// Estilos generales
.card {
  //background: $background-card;
  border-radius: $border-radius;
  padding: 20px;
  //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

/** Estilo para gráficos */
.chart-rounded {
  border-radius: 0.5px; // Redondeo de esquinas
  //overflow: hidden;   // Oculta cualquier borde sobresaliente del gráfico
}

// Tarjetas de promedios
.avg-card {
  text-align: center;
  padding: 1rem;
  min-height: 120px; // Asegura altura mínima
  //background: $background-dark;
  border-radius: $border-radius;
  //box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;

  .avg-title {
    font-size: 1rem;
    font-weight: 600;
    color: #495057;
  }

  .avg-value {
    font-size: 1.5rem;
    font-weight: 700;
    color: #007bff;
  }
}


//==================================================================================00
// Texto info + seleccionanble
//==================================================================================00

.header-info {
  display: flex;
  justify-content: space-between; // Empuja los elementos a los extremos
  align-items: center; // Alinea verticalmente en el centro
  width: 100%; // Asegura que el div ocupe todo el ancho
  gap: 1px; // Espacio entre elementos
  flex-wrap: nowrap; // Evita que los elementos se vayan a otra línea
}

.custom-dropdown {
  min-width: 200px; // Ajusta el tamaño del select
  flex-grow: 1; // Ocupa el espacio disponible sin afectar el label
}

.dropdown-label {
  white-space: nowrap; // Evita que el texto se rompa en varias líneas
  font-weight: bold;
  color: #333;
}

.descripcion-test {
  font-weight: bold;
  font-size:  0.9rem;
  color: #6c757d;
  text-overflow: ellipsis; // Añade "..." si el texto es muy largo
  text-overflow: ellipsis; // Añade "..." si el texto es muy largo

}


//==================================================================================00
// cards pequeños
//==================================================================================00

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

//==================================================================================00
// Fooder
//==================================================================================00

.contenedorFinal {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  justify-content: center; /* Centra los botones */

}

.button-group p-button.selected {
  //border: 2px solid orange !important;
  font-weight: bold;
}

.filter-card {
  background: #181818;
  color: white;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .button-group {
      flex-direction: column;
      align-items: stretch;
  }
  
  .grid {
      flex-direction: column;
  }
}

//==================================================================================00
// Gráfico eCharts
//==================================================================================00
.demo-chart {
  width: 100% !important;  /* Fuerza el ancho completo */
  //height: 400px; /* Altura fija, pero puedes usar vh si prefieres */
  //min-height: 400px; /* Mínimo para móviles */
  resize: both; /* Permite redimensionar (opcional) */
  height: 70vh;  /* Altura relativa al viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}
  
@media (min-width: 320px) {
  .demo-chart {
    width: 100%;  /* Ocupa el 70% del ancho en tablets */
    //padding: 2rem;
  }
}

.main-card {
  width: 100%;  /* Asegura que la tarjeta ocupe todo el ancho disponible */
}

::ng-deep .p-toolbar {
  display: flex;
  flex-wrap: wrap; // Permite que los elementos se acomoden en pantallas pequeñas
  justify-content: space-between;
  gap: 1rem; // Espaciado uniforme entre elementos
  margin-bottom: 1.5rem;
}


.form-control {
  margin: 0.25rem 0;
}


/* Estilo base para los botones (solo texto) */
::ng-deep .p-button {
  background-color: transparent; /* Sin fondo */
  color: #007bff; /* Color del texto */
  border: none; /* Sin borde */
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: color 0.3s ease, border 0.3s ease;
}

/* Estilo para el botón seleccionado (borde azul) */
::ng-deep .p-button.selected {
  border: 2px solid #007bff; /* Borde azul */
  color: #007bff; /* Color del texto */
  background-color: transparent; /* Sin fondo */
}

.crud-container {
  width: 100%; // Ocupará el 90% de la pantalla
  max-width: 1200px; // No se expandirá demasiado en pantallas grandes
  margin:20px auto;
  padding: 25px;
  background: var(--p-surface-900);
  border-radius: 8px;
  border-radius: $border-radius;
  //box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  //box-shadow: 0 0px 10px rgba(78, 209, 66, 0.1);

  @media (max-width: 768px) {
      width: 95%; // Más ancho en móviles
      padding: 10px;
  }
}

//===========================================================================
// 4 CARDS PEQUEÑOS
//===========================================================================
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 1rem;
  justify-content: center;
}

.col-6 {
  flex: 1; /* Asegura que ambas columnas ocupen el mismo espacio */
}


//Tabla
//::ng-deep : Permite que el estilo atraviese la encapsulación de Angular
::ng-deep .p-datatable-thead > tr > th { //.p-datatable-thead: Clase que PrimeNG usa para la cabecera de la tabla
  //background: #f8f9fa; // Color de fondo de encabezado
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

::ng-deep .p-datatable-tbody > tr > td {
  padding: 10px;
  text-align: center;
  //border-bottom: 1px solid #ddd;
}


//Para modal
.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}


//Para estilos de modal lineas guias
.modal-lineaguias {
  display: flex;
  flex-direction: column; /* Apila los elementos en columna */
  align-items: center; /* Centra horizontalmente */
  justify-content: center;
  width: 100%;
}
.form-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center; /* Centra horizontalmente */
  flex-wrap: wrap; /* Si no hay espacio, baja los elementos */
  width: 100%;
  padding-bottom: 15px;
}

.color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

p-table {
  width: 100%;
  max-width: 90%;
}